{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
			<!-- ======================= Login Detail ======================== -->
			<section class="gray">
				<div class="container">
					<form method="post" action="{{path('app_connexion')}}">
						<div class="row align-items-start justify-content-center">
							<div class="col-xl-5 col-lg-8 col-md-12">
							
								<div class="signup-screen-wrap">
									<div class="signup-screen-single">
										<div class="text-center mb-4">
										<h4 class="m-0 ft-medium">Connectez-vous</h4>
										</div>
										<div class="form-group">
											<label class="mb-1">Pseudo</label>
											<input type="text" class="form-control rounded" name="_username" id="floatingInput" placeholder="Saisissez votre pseudo">
										</div>
										
										<div class="form-group">
											<label class="mb-1">Mot de passe</label>
											<input type="password" class="form-control rounded" name="_password" id="floatingPassword" placeholder="Saisissez votre mot de passe">
										</div>
										
										<div class="form-group">
											<div class="d-flex align-items-center justify-content-between">
												<div class="flex-1">
													<input id="dd" class="checkbox-custom" name="dd" type="checkbox" checked>
													<label for="dd" class="checkbox-custom-label">Se souvenir de moi</label>
												</div>	
												<div class="eltio_k2">
													<a href="#" class="theme-cl">Mot de passe oublié ?</a>
												</div>	
											</div>
										</div>
										
										<div class="form-group">
											<input type="hidden" name="_target_path" value="{{path('app_dashboard')}}" />
											<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" >
											<button type="submit" class="btn btn-md full-width theme-bg text-light rounded ft-medium">Connecter</button>
										</div>
										
										<div class="form-group text-center mb-0">
											<p class="extra">Ou se connecter avec </p>
											<div class="option-log">
												<div class="single-log-opt"><a href="javascript:void(0);" class="log-btn"><img src="assets/img/google.png" class="img-fluid" alt="" />se connecter avec votre compte Google</a></div>
												<div class="single-log-opt"><a href="javascript:void(0);" class="log-btn"><img src="assets/img/facebook.png" class="img-fluid" alt="" />se connecter avec votre compte Facebook</a></div>
											</div>
										</div>
										
										<div class="form-group text-center mt-4 mb-0">
											<p class="mb-0">Vous n'avez pas encore de compte ? <a href="signup.html" class="ft-medium text-success">S'inscrire</a></p>
										</div>
									
								</div>
							</div>
							
						</div>
					</div>
					</form>
				</div>
			</section>
			<!-- ======================= Login End ======================== -->
			
{% endblock %}
